*{
	text-align: center;
}
img{
	max-width: 100%;
}
p{
	font-size: 22px;
	transform: uppercase;


}
.a{
	background:cadetblue;
	border-radius: 15px;
	padding: 30px;

}
.b{
	background:slategray;
	border-radius: 15px;
	padding: 30px;
}
.c{
	background:fuchsia;
	border-radius: 15px;
	padding: 30px;

}
.d{
	background: magenta;
	border-radius: 15px;
	padding: 30px;

}